h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.code-place {
    margin: 10px;
    margin-top: 0px;
    padding: 5px;
    font-size : 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    background : white;
    border-radius: 0 0 10px 10px;
    box-shadow: inset 0 0 4px;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    width: 99%;
}

.file-info {
    padding-left: 5px;
    border-radius: 10px 10px 0 0;
    background: #79a4a1;
    margin: 10px;
    margin-bottom: 0px;
}
